<form class="" method="post">
  <input type="email" name="email" placeholder="Inserte su email">
  <br>
  <input type="password" name="password" placeholder="Inserte su contraseña">
  <br><br>
  <input type="submit" value="Login">
</form>
